        <!-- Why us -->
        <div class="row text-center center-block container-fluid why-us hidden-xs">
            <div class="container">
                <p class="text-center why-us-txt">Why us</p>
                <div class="col-sm-3 col-xs-6">
                    <div>
                        <p class="why-us-image gaurnteed img-responsive img-circle center-block"></p>
                        <h4>Guarnteed</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>
                        <p class="why-us-image save-money img-responsive img-circle center-block"></p>
                        <h4>Save money</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>
                        <p class="why-us-image fast-deliver img-responsive img-circle center-block"></p>
                        <h4>Fast deliver</h4>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>
                        <p class="why-us-image home-deliver img-responsive img-circle center-block"></p>
                        <h4>Home deliver</h4>
                    </div>
                </div>
            </div>
        </div>