
<!-- main category-->
<martmax-main-category></martmax-main-category>

<!-- brands-->
<martmax-top-brands></martmax-top-brands>

<!-- top deals -->
<martmax-top-deals></martmax-top-deals>

<!-- sub category -->
<martmax-sub-category></martmax-sub-category>

<!-- mobile -->
<!-- start section fashion small */ -->
<section class="fashion visible-xs visible-sm">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 no-padding">
                <div class="big-img">
                    <img src="./assets/images/slide2.jpg" class="img-responsive" alt="" />
                </div>
            </div>
            <div class="col-xs-6 right-side no-padding">
                <div class="img-div">
                    <img src="./assets/images/hot2.jpg" class="img-responsive" alt="" />
                </div>
                <div class="img-div no-padding">
                    <img src="./assets/images/hot3.jpg" class="img-responsive" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section flash deals -->
<section class="deals visible-xs visible-sm">
    <div class="container">
        <div class="countdown">
            <h3>flash deals <span id="jcountdown"></span> </h3>
        </div>
        <div class="deals-sliders">
            <div class="owl-carousel">
                <div>
                    <div class="thumbnail">
                        <a href="#">
       <img src="./assets/images/8ac4bdf401ae484e4e93499ad45151c9.jpg" alt="...">
       <div class="caption">

         <h3>30$</h3>
         <p><span class="instead">60$</span><span class="off">50% off</span></p>

       </div>
       </a>
                    </div>
                </div>
                <div>
                    <div class="thumbnail">
                        <a href="#">
       <img src="./assets/images/55b6cb7af7b83815f1f6fa2888cfb704.jpg" alt="...">
       <div class="caption">

         <h3>30$</h3>
         <p><span class="instead">60$</span><span class="off">50% off</span></p>

       </div>
       </a>
                    </div>
                </div>
                <div>
                    <div class="thumbnail">
                        <a href="#">
       <img src="./assets/images/97b35028573f2502079fb3889f2bb734.jpg" alt="...">
       <div class="caption">

         <h3>30$</h3>
         <p><span class="instead">60$</span><span class="off">50% off</span></p>

       </div>
       </a>
                    </div>
                </div>
                <div>
                    <div class="thumbnail">
                        <a href="#">
       <img src="./assets/images/9497f63bf2e070aecdb251356a4022e9.jpg" alt="...">
       <div class="caption">

         <h3>30$</h3>
         <p><span class="instead">60$</span><span class="off">50% off</span></p>

       </div>
       </a>
                    </div>
                </div>
                <div>
                    <div class="thumbnail">
                        <a href="#">
       <img src="./assets/images/c768d78e16fe3deacbe1286f930941c6.jpg" alt="...">

       <div class="caption">
         <h3>30$</h3>
         <p><span class="instead">60$</span><span class="off">50% off</span></p>
       </div>
       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- start section banners -->
<section class="banners-mobile visible-xs visible-sm">
    <div class="container-fluid">
        <div class="row">
            <a href="#"><img src="./assets/images/baner1" class="img-responsive"alt="" /></a>
            <a href="#"><img src="./assets/images/baner2" class="img-responsive"alt="" /></a>
            <a href="#"><img src="./assets/images/baner3" class="img-responsive"alt="" /></a>
            <a href="#"><img src="./assets/images/baner4" class="img-responsive"alt="" /></a>
        </div>
    </div>
</section>

