<!--start section top deals -->
<section class="top-deal hidden-sm hidden-xs">
  <div class="container">
    <div class="deal-container row">
      <h3><span>top deals</span></h3>
      <div class="row right-side">
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/55b6cb7af7b83815f1f6fa2888cfb704.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/97b35028573f2502079fb3889f2bb734.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/9497f63bf2e070aecdb251356a4022e9.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/c768d78e16fe3deacbe1286f930941c6.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row right-side">
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/9497f63bf2e070aecdb251356a4022e9.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
              <img src="./assets/images/f2.png" class="flag-hot" alt="" />
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/8ac4bdf401ae484e4e93499ad45151c9.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/55b6cb7af7b83815f1f6fa2888cfb704.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 ">
          <div class="thumbnail">
            <div class="top-part">
              <img src="./assets/images/c768d78e16fe3deacbe1286f930941c6.jpg" class="img-responsive model" alt="...">
              <div class="add-cart">
                <a href="#"><img src="./assets/images/cart.png" alt="" /></a>
                <a href="#"><img src="./assets/images/love.png" alt="" /></a>
              </div>
            </div>
            <div class="caption">
              <a href="#"><span class="prime">Prime</span> NAI Xin custom 114176 new spring dress printed dresses with collar slim garden clean woman</a>
              <p class="thumb-footer"><span>RM 356.16</span> <span class="discont">RM 756.16</span><span class="disc">6% off</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section top deals -->