 <!-- start section footer banner -->
 <section class="ft-banner visible-xs visible-sm">
    <div class="container-fluid">
        <a href="#">
            <img src="./assets/images/ft_banner.jpg" class="img-responsive" style="width:100%">
        </a>
    </div>
</section>
<!-- start section collaps menu -->
<section class="ft-menus visible-xs visible-sm">
    <div class="container-fluid">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  customer services <i class="fa fa-plus"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  <ul>
                      <li>
                          <a href="#">contact us <i class="fa fa-angle-right"></i></a>
                      </li>
                      <li>
                          <a href="#">track order <i class="fa fa-angle-right"></i></a>
                      </li>

                  </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  help center <i class="fa fa-plus"></i>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                  <ul>
                      <li>
                          <a href="#">Shipping Method <i class="fa fa-angle-right"></i></a>
                      </li>
                      <li>
                          <a href="#">Payment Method <i class="fa fa-angle-right"></i></a>
                      </li>
                      <li>
                          <a href="#">Returns Policy <i class="fa fa-angle-right"></i></a>
                      </li>
                      <li>
                          <a href="#">FAQ <i class="fa fa-angle-right"></i></a>
                      </li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  settings <i class="fa fa-plus"></i>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                  <ul>
                      <li>
                          <a href="#">language <span class="right">english<i class="fa fa-angle-right"></i></span></a>
                      </li>
                      <li>
                          <a href="#">currency<span class="right">USD<i class="fa fa-angle-right"></i></span></a>
                      </li>

                  </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
 <!-- start footer -->
 <section class="footer" id="footer">
    <div class="container">
      <div class="top-footer row">
        <div class="col-md-2 links hidden-sm hidden-xs">
      <h4>Martmax.co</h4>
      <a href="#">About Us</a>
      <a href="#">Blog</a>
      <a href="#">Contact Us</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Return Policy</a>

    </div>
    <div class="col-md-2 links hidden-sm hidden-xs">
      <h4>Help Center</h4>
      <a href="#">New User Guide</a>
      <a href="#">FAQ</a>
      <a href="#">Payment Policy</a>
      <a [routerLink]="['/sizechart']">Size Chart</a>
      <a [routerLink]="['/products/buyforme']">buy For Me</a>
      <a href="#">Ship For Me</a>

    </div>
    <div class="col-md-2 links hidden-sm hidden-xs">
      <h4>Contact Us</h4>
      <a href="#">...</a>
    </div>
    <div class="col-md-5 col-md-offset-1 col-xs-12">
        <div class="col-md-8 col-sm-12 col-xs-12">
         <p class="hidden-sm hidden-xs">join our community</p>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-instagram"></i></a>
         <a href="#"><i class="fa fa-paypal"></i></a>
         <a href="#"><i class="fa fa-tumblr"></i></a>
         <a href="#"><i class="fa fa-snapchat-ghost"></i></a>
         <a href="#"><i class="fa fa-pinterest"></i></a>
         <a href="#"><i class="fa fa-youtube-play"></i></a>

        </div>
    <!--    <div class="col-sm-4 col-xs-4 hidden-sm hidden-xs">
         <p>app</p>
         <a href="#"><i class="fa fa-apple"></i></a>
         <a href="#"><i class="fa fa-android"></i></a>
        </div> -->
        
        <div class="col-xs-12">
         <div class="subcribe">
          <p class="hidden-sm hidden-xs"><span>subscribe</span>for our newsletter</p>
          <p class="coupon-disc hidden-sm hidden-xs">and recive <span>10% OFF</span> coupon</p>

         <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Your E-mil"/>
            <button class="btn btn-default">subscribe</button>
          </div>
         </form>

         </div>
        </div>
    </div>
      </div>
      <div class="main-footer hidden-sm hidden-xs">

      <!--  <div class="footer-menu">
         <span>quick index</span>
         <a href="#">a</a><a href="#">b</a><a href="#">c</a><a href="#">d</a><a href="#">e</a><a href="#">f</a><a href="#">g</a><a href="#">h</a><a href="#">i</a>
         <a href="#">j</a> <a href="#">k</a><a href="#">l</a><a href="#">m</a><a href="#">n</a><a href="#">o</a><a href="#">p</a>
         <a href="#">q</a><a href="#">r</a><a href="#">s</a><a href="#">t</a>
         <a href="#">u</a><a href="#">v</a><a href="#">w</a><a href="#">x</a> <a href="#">y</a><a href="#">z</a>
         <a href="#">0-9</a>
         <a href="#" class="site">site map</a>
         <a href="#" class="site"></a>
       </div> -->

       <div class="brands-footer">
        <a href="#"><img src="./assets/images/dhl.jpg" class="img-responsive" alt="" /></a>
        <a href="#"><img src="./assets/images/logo-aramark.jpg" class="img-responsive" alt="" /></a>
        <a href="#"><img src="./assets/images/voda.jpg" class="img-responsive" alt="" /></a>
        <a href="#"><img src="./assets/images/wire-transfer-casinos.png" class="img-responsive" alt="" /></a>
        <a href="#"><img src="./assets/images/MasterCard.png" class="img-responsive" alt="" /></a>
        <a href="#"><img src="./assets/images/visa.png" class="img-responsive" alt="" /></a>
        <a href="#"><img src="./assets/images/pay.png" class="img-responsive" alt="" /></a>
       </div>
      </div>
    </div>
    <div class="bottom-footer">
     <p>Copyright © 2017-2018 website name. All Rights Reserved</p>
    </div>
 </section>
<div id="scroll-top" (click)="goTop()">
        <i class="fa fa-chevron-up fa-lg"></i>
    </div>

<!-- end footer -->